# ========================================
# COMMON DATABASE
# ========================================

DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=change_me


# ========================================
# CATALOG SERVICE - :8081
# ========================================

CATALOG_DB_NAME=chinook_catalog
CATALOG_SERVICE_URL=http://localhost:8081

# ========================================
# CUSTOMER SERVICE - :8082
# ========================================

CUSTOMER_DB_NAME=chinook_customer
CUSTOMER_SERVICE_URL=http://localhost:8082

# ========================================
# INVOICE SERVICE - :8083
# ========================================

INVOICE_DB_NAME=chinook_invoice
INVOICE_SERVICE_URL=http://localhost:8083